<link rel="stylesheet" href="../fontawesome/all.min.css" />
<link rel="stylesheet" href="../fontawesome/fontawesome.min.css" />
<link rel="stylesheet" href="../css/log-re.css" />
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<div class="container-fluid" id="form">
  <form action="" class="w-50" id="login">
    <h1 class="text-light h2 text-center">Register</h1>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        id="pwd"
        placeholder="Enter password"
        name="pwd"
      />
    </div>
    <button type="submit" class="btn btn-danger mt-2">Regiter</button>
    <a
      href="/login"
      class="btn btn btn-light float-right mt-2 text-light"
      id="link"
      >Already have an account?</a
    >
  </form>
</div>
<script src="../js/jquery-3.5.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
