.man{
    width: 28%;
   position: relative;
   left: 35%;
}
#cart{
   background-color: #1a7c53;
   padding-bottom:7%;
}
#h1{
   font-weight: 700;
   color: #f1f1f1;
   position: relative;
   left: 40%;
   font-size: 2rem;
}
.description{
    color: #f1f1f1;
    font-size: 1.8rem;
    text-align: center;
}
#back-btn{
    position: relative;
    left: 45%;
}
.fas{
    color: #111010;
}
/* cart.css end */
/* another cart.css start */
#img1{
    width: 15%;
 
  
}